# For our purposes this is fine. It lets us have an extensionless PHP file
# respond at /metrics, but this is a dumb idea if you're building anything
# resembling a 'real' application!
SetHandler application/x-httpd-php

# Rewrite all requests to index.php
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?path=$1 [NC,L,QSA]
